@use "sass:color";

$bg-color: #1b263b;
$primary-color: #e0e1dd;
$button-color: #778da9;
$hover-color: #415a77;
$alert-color: #e63946;

body {
  background-color: $bg-color;
  color: $primary-color;
  font-family: Arial, Helvetica, sans-serif;

  button {
    cursor: pointer;
    transition: ease 0.5s background-color;
  }
}

#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  padding-top: 150px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    padding: 10px;
    font-size: 1rem;
  }

  input {
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }

  button {
    margin: 10px;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    background-color: $button-color;

    color: $bg-color;
  }
  button:hover {
    background-color: $hover-color;
  }
}

.tasks-container {
  padding: 0;
  margin: 0;
  flex-direction: column;
  display: flex;
}

ul > li {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;

  button {
    width: 100px;
    height: 30px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    margin: 5px;
  }

  .modify {
    background-color: $button-color;
  }

  .modify:hover {
    background-color: $hover-color;
  }

  .delete {
    background-color: $alert-color;
    color: $primary-color;
  }

  .delete:hover {
    background-color: color.scale($alert-color, $lightness: -50%);
  }

  .title {
    text-align: start;
  }

  span {
    padding: 10px;
    font-size: 1rem;
  }
}

.buttons {
  display: flex;
}
