@use "sass:color";

$bg-color: #1b263b;
$primary-color: #e0e1dd;
$button-color: #778da9;
$hover-color: #415a77;
$alert-color: #e63946;

body {
  background-color: $bg-color;
  color: $primary-color;
  font-family: Arial, Helvetica, sans-serif;

  button {
    cursor: pointer;
    transition: ease 0.5s background-color;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  label {
    font-size: 1rem;
  }

  input {
    width: 300px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }

  button {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    background-color: $button-color;

    color: $bg-color;
  }
  button:hover {
    background-color: $hover-color;
  }
}

ul > li {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 40px 800px 260px 100px 100px;
  grid-auto-rows: 80px;
  justify-content: center;

  button {
    height: 30px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    margin: 5px;
  }

  .modify {
    background-color: $button-color;
  }

  .modify:hover {
    background-color: $hover-color;
  }

  .delete {
    background-color: $alert-color;
    color: $primary-color;
  }

  .delete:hover {
    background-color: color.scale($alert-color, $lightness: -50%);
  }

  .title {
    text-align: start;
  }

  span {
    font-size: 2rem;
  }
}
