@use "sass:color";

$bg-color: #1b263b;
$primary-color: #e0e1dd;
$button-color: #778da9;
$hover-color: #415a77;
$alert-color: #e63946;

@mixin button-base {
  cursor: pointer;
  background-color: $button-color;
  color: $primary-color;
  width: 100px;
  height: 30px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  margin: 5px;
  transition: ease 0.5s background-color;

  &:hover {
    background-color: $hover-color;
  }
}

body {
  box-sizing: border-box;
  background-color: $bg-color;
  color: $bg-color;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: $primary-color;
}

#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;

  .add-container,
  .tasks-container {
    width: 430px;
  }
}

.add-container {
  border-radius: 25px;
  padding: 15px 30px;
  height: 500px;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .task-title,
  .task-description,
  .task-dates {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    label {
      padding: 10px;
      font-weight: bold;
    }

    input,
    textarea {
      border: none;
      border-radius: 10px;
    }
  }

  .task-dates {
    flex-direction: row;
    align-items: center;
  }

  .title-input {
    width: 350px;
    height: 30px;
    text-align: center;
  }

  .description-input {
    max-width: 350px;
    min-width: 200px;
    width: 350px;
    min-height: 50px;
    max-height: 100px;
  }

  button {
    @include button-base;
    margin-top: 20px;
  }

  .disabled {
    cursor: default;
    opacity: 60%;
    &:hover {
      background-color: $button-color;
    }
  }
}

.tasks-container {
  border-radius: 25px;
  background-color: $primary-color;
  padding: 15px 30px;
  margin: 0;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

.task {
  border-bottom: 1px solid gray;
}

.task-state {
  padding-top: 10px;
  padding-right: 210px;
  display: flex;
  align-items: center;

  label {
    font-weight: bold;
  }

  input {
    margin: 0px 10px;
    appearance: none;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  input:checked {
    background-color: #c3a0f6;
  }
}

ul > li {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  max-width: 430px;

  .title {
    display: inline-block;
    overflow-wrap: break-word;
    max-height: 50px;
  }

  span {
    display: flex;
    font-size: 1rem;
    align-items: center;
  }

  .description-container {
    margin: 10px 0px;
    background-color: white;
    border-radius: 5px;
    padding: 0px 10px;
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    text-align: start;
  }

  button {
    @include button-base;
  }

  .modify {
    background-color: $button-color;
  }

  .delete {
    background-color: $alert-color;
    &:hover {
      background-color: color.scale($alert-color, $lightness: -50%);
    }
  }

  .title {
    text-align: start;
  }
}

.buttons {
  display: flex;
}

@media (max-width: 1130px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .add-container {
    margin-bottom: 50px;
  }
}
